* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body{
  margin: 0;
  cursor: default;
  font-family: Muli;
}
h1, h2, h3, h4, p{
  margin: 0;
  font-weight: normal;
}
.grid {
  height: 100%;
  background-color: inherit;
}

/* THEMES */
.dark {
  background-color: var(--main-bg-color);
  --main-bg-color: #23282e;
  --card-color: #3A4750;
  --card-border-color: #303841;
  --cyan: #00ADB5;
  --dark-mode-txt-color: #eee;
  height: 100vh;
}
.light {
  background-color: var(--main-bg-color);
  --main-bg-color: #e1edf5;
  --card-color: #51697a;
  --card-border-color: #3A4750;
  --cyan: #00ADB5;
  --dark-mode-txt-color: #cce6ff;
  height: 100vh;
}

/* SCROLLBAR*/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--cyan);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #007c82;
}

/* CARDS */
.card{
  justify-content: center;
  align-items: center;
  background-color: var(--card-border-color);
  border: 10px solid var(--card-border-color);
}
.card>div, .card>h1, .card>p{
  position: relative;
  color: var(--dark-mode-txt-color);
}
.cardTitle{
  height: 12%;
  justify-content: flex-start;
  padding-left: 5%;
}
.cardNumber{
  height: 60%;
}
.cardGraph{
  height: 88%;
}
.cardText{
  height: 20%;
}
.u-dFlex{
  display: flex;
}
.u-center{
  justify-content: center;
  align-items: center;
}
.u-width_100{
  width: 100%;
}
.u-height_100{
  height: 100%;
}
.u-borderRadius{
  border-radius: 10px;
}
.column{
  flex-direction: column;
}
.row{
  flex-direction: row;
}
.u-cyan{
  color: var(--cyan);
}

/* NEW AND OLD USERS CARD */
.userCard-title{
  height: 15%;
  font-size: 20px;
  margin-bottom: 3px;
}
.userCard-details{
  height: 85%;
  justify-content: space-between;
}
.userCard-user{
  background-color: var(--card-color);
  align-items: flex-end;
  width: 48.5%;
}
.userCard-user .cardTitle{
  height: 20%;
  font-size: 20px;
  padding: 0%;
  color: var(--dark-mode-txt-color);
}
.userCard-user .cardNumber{
  height: 80%;
}

/* SMALL CARD */
.card>.smallCard{
  background-color: var(--card-color);
}
.smallCard .cardTitle{
  justify-content: flex-start;
}

/* PAGE CARD */
.pageCard{
  justify-content: space-between;
}
.pageCard-allPage{
  background-color: var(--card-color);
  width: 29.5%;
}
.pageCard-allPage .cardTitle{
  justify-content: flex-start;
  height: 15%;
  font-size: 30px;
  padding-left: 6%;
}
.pageCard-allPage .cardNumber{
  height: 55%;
}
.pageCard-allPage .cardText{
  height: 15%;
  font-size: 30px;
}
.pageCard-allPage .cardText:nth-child(2){
  font-size: 42px;
}
.pageCard-pageDetails{
  width: 69.5%;
}
.pageCard-pageDetails .pageDetails-details{
  height: 49%;
  justify-content: space-between;
}
.pageCard-pageDetails .cardGraph{
  height: 51%;
  align-items: flex-end;
}
.pageDetails-details .daily,
.pageDetails-details .weekly,
.pageDetails-details .monthly{
  width: 32.4%;
  background-color: var(--card-color);
}
.daily .cardNumber,
.weekly .cardNumber,
.monthly .cardNumber{
  height: 80%;
}
.daily .cardText,
.weekly .cardText,
.monthly .cardText{
  font-size: 20px;
  height: 20%;
  font-style: italic;
  color: var(--dark-mode-txt-color);
}

/*TIMER CARD*/
.timerCard{
  background-color: var(--card-color);
}
.timerHeader{
  height: 25%;
}
.timerCard-title{
  width: 60%;
  padding-left: 2%;
}
.timerCard-title_h1{
  width: 25%;
  font-size: 30px;
  font-weight: bold;
  align-items: flex-end;
}
.timerCard-title_h2{
  width: 75%;
  font-size: 30px;
  color: var(--dark-mode-txt-color);
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 1%;
}
.ToggleButton{
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 3%;
  width: 40%;
}
.timerCard-time{
  height: 75%;
  font-size: 110px;
  font-weight: bold;
}

/* CRYPTO CARD */
.cryptoCard{
  background-color: var(--card-color);
  border: thick solid var(--card-border-color);
}
.cryptoCard-vaults{
  height: 33.3333%;
  padding: 0 2%;
}
.cryptoCard-vaults:nth-child(1),
.cryptoCard-vaults:nth-child(2) {
  border-bottom: dotted 2px var(--cyan);
}
.cryptoCard-vaults h1{
  width: 15%;
  justify-content: flex-start;
  font-size: 60px;
}
.cryptoCard-vaults h2{
  justify-content: flex-end;
  width: 70%;
  color: var(--dark-mode-txt-color);
  font-size: 60px;
}
.cryptoCard-vaults h3{
  width: 15%;
  font-size: 40px;
}

/* TOGGLE BUTTON */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--card-border-color);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--cyan);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--cyan);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
  background-color: var(--dark-mode-txt-color);
}
